@font-face {
    font-family: 'Parkinsans';
    src: url(Parkinsans-VariableFont_wght.ttf);
}
.big_title {
    font-size: 3.2em;
    font-weight: bold;
    justify-content: center;
}
.title
{
    font-size:2em;
    font-weight: bold;
}
.text
{
    display: flex;
    align-self: flex-start;
    font-size:1.3em;
}

.all {
    display: flex;
    flex-direction: row;
}

.search {
    display: flex;
    gap: 1em;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.search .control {
    font-size: 1.6em;
    padding: 0.5em;
    border-radius: 15px;
    border: none;
    width: 11em;
}

.search .btn {
    font-size: 1.5em;
    height: 2.3em;
    padding-top: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #ed6393;
    border: none;
    border-radius: 15px;
}


.header1
{
    background-color: rgb(23, 23, 23);
    position: fixed;
    top: 0;
    font-weight: bold;
    width: 100%;
    height: 1.3em;
    font-size: 4.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color:white;
}
.header2
{
    transition: none;
    padding-right: 0px;
    position: fixed;
    right: 10px;
    margin-top: 10px;
    height: 3em;
    display: flex;
    z-index: 3;

}

.main {
    position: absolute;
    top:7em;
    left: 6em;
    right: 2em;
    display: flex;
    padding: 0.5em;
}
.footer {
    color: white;
    width: 100%;
    height: 7em;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
} 
.footer .blocks{
    font-size: 2em;
    border:none;
    border-radius: 50px;
    background-color: #ed6393;
    display:flex;
    flex-direction: row;
    height: 1.4em;
    width: 1.4em;
    justify-content: space-around;
    margin: 0.5em;
    
}
.footer .blocks img {
    height: 1em;
    width: 1em;
}

.carousel {
    white-space: nowrap;
    display: block;
    padding: 2em;
    overflow-x: auto;
    height: 25em;
    margin-left: -1em;;
}

.blocks {
    display: flex;
    gap: 2em;
    justify-content: start; 
    align-items: center;
    vertical-align: middle;
}

.blocks span {
    width: 15em;
    height: 18em;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.741);
    transition: transform 0.5s ease;
}

.blocks span:hover {
    transform: scale(1.12);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.741);
}

.blocks span:hover .bl_title,
.blocks span:hover .bl_text {
    opacity: 0%; /* Hide title and text on hover */
}

.bl_title
{
    margin-top: 1em;
    font-size:1.5em;
    font-weight: bold;
}
.bl_text {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 2em;
    font-size: 1em;
}
  .list {
        list-style-type: disc;
        list-style-position: inside;
    }

@media screen and (max-width: 1100px) {
    .search .control {
        display: none;
    }

    .search .btn {
        font-size: 2.5em;
        height: 2.3em;
        padding-top: 0.2em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .main{
        left:2em;
    }

}